<h1>Listing ips</h1>

<table class="ips" id="ipv4">
  <tr>
    <th>Address</th>
    <th>Status</th>
    <th>Hostname</th>
    <th>Network use</th>
  </tr>

<% @ipv4s.each do |ip| %>
  <tr>
    <td><%= link_to ip.full_address, ip %></td>
    <td><%=h ip.status %></td>
    <td><%=h ip.network_use %></td>
    <td><%=h ip.hostname %></td>
    <td><%= link_to 'Edit', edit_ip_path(ip) %></td>
    <td><%= link_to 'Destroy', ip, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<table class="ips" id="ipv6">
  <tr>
    <th>Address</th>
    <th>Status</th>
    <th>Hostname</th>
    <th>Network use</th>
  </tr>

<% @ipv6s.each do |ip| %>
  <tr>
    <td><%= link_to ip.full_address, ip %></td>
    <td><%=h ip.status %></td>
    <td><%=h ip.network_use %></td>
    <td><%=h ip.hostname %></td>
    <td><%= link_to 'Edit', edit_ip_path(ip) %></td>
    <td><%= link_to 'Destroy', ip, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br style="clear:both;" />

<%= link_to 'New ip', new_ip_path %>