
<p>
	<span class="label">Address:</span>
	<span class="data"><%= @ip.full_address %></span>
</p>
<p>
	<span class="label">Status:</span>
	<span class="data"><%= @ip.status %></span>
</p>
<p>
	<span class="label">Network use:</span>
	<span class="data"><%= @ip.network_use %></span>
</p>
<p>
	<span class="label">Hostname:</span>
	<span class="data"><%= @ip.hostname %></span>
</p>

<%= link_to 'Edit', edit_ip_path(@ip) %> |
<%= link_to 'Back', ips_path %>